@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  scrollbar-color: red green;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #001a2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #0466c8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #023e7d;
}